<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">EDGE</a>
        </div>
        
        <button id="lang-toggle" class="btn-lang">ES</button>
        
        <div class="menu-toggle" id="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <ul class="nav-links">
            <li><a href="index.html" data-i18n="navHome">Home</a></li>
            <li><a href="about.html" data-i18n="navAbout">About</a></li>
            <li><a href="product.html" data-i18n="navProduct">Product</a></li>
            <li><a href="contact.html" data-i18n="navContact">Contact</a></li>
        </ul>
    </nav>
</header>